section .column-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

section .section-heading {
  margin-block: 16px;
  padding-inline-start: 16px;
}

.flex-x-scroller {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.flex-x-scroller::-webkit-scrollbar {
  width: 10px;
}

.flex-x-scroller::-webkit-scrollbar-button {
  display: none;
}

.flex-x-scroller::-webkit-scrollbar-track {
  border: none;
  /* background-color: var(--background-strong); */
}

.flex-x-scroller::-webkit-scrollbar-track-piece {
  /* background-color: var(--background-strong); */
  border-radius: 10px;
}

.flex-x-scroller::-webkit-scrollbar-thumb {
  background-color: var(--background-weak);
  border-radius: 10px;
  width: 6px;
  height: 20px;
}
